html {
    font-size: 14px;
    position: relative; /* Needed for the sticky footer */
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


body {
    margin-bottom: 60px; /* Space for the footer */
    /* Use Flexbox for a sticky footer (optional, based on your HTML structure) */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer {
    margin-top: auto; /* Pushes footer to the bottom */
    height: 60px; /* Height of the footer */
    /* Other styling for your footer */
}
